<html>

<body style="padding: 40px; font-family: ariel, sans-serif;">

<p>Access token:</p>
<p><tt><%= access_token %></tt></p>

<p>Refresh token:</p>
<p><tt><%= refresh_token %></tt></p>

<p>Error:</p>
<p><tt><%= error_str %></tt></p>

</body>

</html>
