<html>

<style>
body
{
padding: 40px; 
font-family: ariel, sans-serif;
}
p
{
font-family: courier, monospace;
overflow-wrap: break-word;
}
</style>

<body>

<h3>Access token</h3>
<p><%= access_token %></p>

<h3>Refresh token</h3>
<p><%= refresh_token %></p>

<h3>Error</h3>
<% if(error_str) { %>
    <p><%= error_str %></p>
<% } else { %>
    <p>(no error!)</p>
<% } %>

</body>

</html>
